.chatroom
  display: grid
  grid-template-columns: 300px 1fr
  gap: 1rem
  margin: 0 1rem

.sidebar
  overflow: hidden

.members
  display: flex
  flex-direction: column
  gap: .5rem

.member
  background: #333
  padding: 0 .5rem
  height: 2.5rem
  line-height: 2.5rem

.peers
  display: grid
  margin: 1.5rem 1rem
  grid-template-rows: repeat(auto-fill, minmax(300px, 1fr))
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))
